.add_job_page {
  padding: 4px;
}

.btn {
  background-color: #3a4c8d;
  color: white;
  border: none;
  padding: 4px;
}

.job_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 36px;
}

.job_form input,
.job_form textarea {
  width: 100%;
}

.success {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
