@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";
@import "./header.module.scss";

.btn-style {
  height: 30px;
  padding: 6px;
  background-color: $primary-color;
  color: #fff;
  font-size: medium;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $primary-color;
  border-radius: 5px;
}

.center-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
