.header {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  height: 52px;
  align-items: center;
}
.post {
  background-color: #3a4c8d;
  width: 55px;
  height: 33px;
  margin-right: 16px;
  text-align: center;
  color: white;
  font-size: 20px;
}
.menu {
  font-size: 20px;
  background-color: white;
  height: 31px;
  width: 55px;
  margin-left: 16px;
  text-align: center;
}
