.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  /* text-align: center; */
}

.cardTitle {
  text-align: start;
}

.jobCard {
  border-bottom: 1px solid #007aff;
  padding-bottom: 5px;
  /* border-radius: 25px; */
  width: 80%;
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.jobCard .cardDisc {
  margin: 20px;
  text-align: start;
}

.jobCard .cardmoney {
  display: flex;
  margin-left: 80%;
}
