.wrap {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  /* padding: 40px; */
}

.titleNow{
  color: #5C6BC0;
}

.wrapFrom {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 30px;
}
.title {
  text-align: center;
  color: #000000;
  margin-top: 10px;
}

.h3title{
  text-align: start;
  margin-left: 20px;
  color: #5C6BC0;
  margin-top: 10px;
}
.login {
  background-color: #5C6BC0;
  border-radius: 10px;
  border: none;
  font-size: 15;
  color: #fff;
  padding: 10px;
  width: 46%;
  margin: 20px 0px 80px 90px;
  
}
.register {
  text-align: center;
  border: 1px solid #5C6BC0;
  background-color: #fff;
  font-size: 15;
  font-weight: 600;
  color: black;
  border-radius: 10px;
  padding: 10px;
  width: 46%;
  margin-left: 10px;
}

.buttons{
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.logInInput{
  width: 96%;
  padding: 10px;
  margin: 10px;
  border: solid 1px #5C6BC0;
  border-radius: 5px;
}

.forgetPassword{
  display: flex;
  margin-top: 15px;
  border-bottom: solid 1px #5C6BC0;
  color: #5C6BC0;
  width: fit-content;
  margin-left: 200px;
}

.solid{
  position: absolute ;
  color: #ffffff;
  border-bottom: solid 1px #5C6BC0;
  width: 76%;
  top: 70%;
}
