.wrap {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  /* padding: 40px; */
}
.wrapper {
  padding: 40px;
}

.wrapFrom {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 30px;
}
.title {
  text-align: center;
  color: #4f6073;
}
.login {
  background-color: #40afff;
  border-radius: 10px;
  border: none;
  font-size: 15;
  color: #fff;
  width: 97px;
  height: 33px;
  font-weight: 600;
}
.register {
  border: 1px solid #192d50;
  background-color: #fff;
  font-size: 15;
  font-weight: 600;
  color: black;
  border-radius: 10px;
  height: 33px;
  width: 126px;
  margin: 20px;
}
