.wrap {
  position: absolute;
  margin: 0 auto;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleNow {
  color: #5c6bc0;
}

/* .wrapper {
  padding: 40px;
} */

.wrapFrom {
  text-align: center;
}

.title {
  text-align: center;
  color: #000000;

  margin-top: 10px;
}

.h3title {
  text-align: start;
  margin-left: 20px;
  color: #5c6bc0;
  margin-top: 10px;
}

.login {
  background-color: #5c6bc0;
  border-radius: 10px;
  border: none;
  color: #fff;
  padding: 10px;

  width: 46%;
  margin: 20px 0px 80px 90px;
}

.register {
  text-align: center;
  border: 1px solid #5c6bc0;
  background-color: #fff;
  font-size: 15;
  border-radius: 10px;
  padding: 10px;
  width: 46%;
  margin-left: 10px;
}

.buttons {
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.logInInput {
  width: 96%;
  padding: 10px;
  margin: 10px;
  border: solid 1px #5c6bc0;
  border-radius: 5px;
}

.forgetPassword {
  display: flex;
  margin-top: 15px;
  border-bottom: solid 1px #5c6bc0;
  color: #5c6bc0;
  width: fit-content;
  margin-left: 200px;
}

.solid {
  position: absolute;
  color: #ffffff;
  border-bottom: solid 1px #5c6bc0;
  width: 76%;
  top: 70%;
}

.buttons {
  text-align: center;
  margin-top: 10px;
}

.logInInput {
  width: 96%;
  padding: 8px;
  margin: 5px;
  background-color: #f2f2f7;
  border: none;
  border-radius: 5px;
}

.forgetPassword {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  background-color: #fffafa;
  z-index: 99;
}

.solid {
  position: absolute;
  color: #ffffff;
  border-bottom: solid 1px #00000032;
  width: 76%;
  top: 455px;
}

/* .forgetPassword {    
  width: 1000px;     
  text-align: center;     
  border-bottom: 1px solid #000;     
  line-height: 0.1em;    
  margin: 10px 0 20px;  
}   

 .solid {      
  background:#fff;      
  padding:0 10px;  
} */
