

.wrap {
  justify-content: center;
  align-items: center;
  margin: 220px 20px 0px 40px ;
  max-width: 80%;
}

.titleNow{
  color: #5C6BC0;
}

/* .wrapper {
  padding: 40px;
} */

.wrapFrom {
  text-align: center;
}

.title {
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
  
}

.login {
  background-color: #40afff;
  border-radius: 10px;
  border: none;
  color: #fff;
  padding: 10px;
  width: 48%;
  margin: 5px;
}

.register {
  border: 1px solid #192d50;
  background-color: #fff;
  font-size: 15;
  border-radius: 10px;
  padding: 10px;
  width: 48%;
}

.buttons{
  text-align: center;
  margin-top: 10px;
}

.logInInput{
  width: 96%;
  padding: 8px;
  margin: 5px;
  background-color: #F2F2F7;
  border: none;
  border-radius: 5px;
}

.forgetPassword{
  display: flex;
  text-align: center;
}