.successModal {
    color: #1A75E8;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success{
    color: #1A75E8;
    position: absolute;
    // top:  20%;?
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    // padding-bottom: 250px;
    border-radius: 30px;
    // height: 200px;
    min-height: 400px;
    min-width: 320px;
}

.bgOpacity{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.718);

}

.userImage{
    border-radius: 50%;
}

.userEmail{
    margin: 15px;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.applicationBtn{
    background-color: #1A75E8;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    // width: 200px;
}