@import "variables";

.postedjobs {
  &-jobcard {
    position: relative;
    display: flex;
    margin-bottom: 6px;
  }
  &-applicants {
    color: $primary-color;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $primary-color;
    border-radius: 8px;
    &-count {
      font-size: 20px;
    }
    &:hover {
      color: $secondary-color;
    }
  }
}
