@import "variables";

.jobpage {
  color: $secondary-color;
  &-jobdetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
  }
  &-title {
    font-size: 24px;
    font-weight: 600;
  }
  &-description {
    font-size: 18px;
  }
  button {
    height: 40px;
    font-size: 24px;
  }
  &-employer {
    border: 1px solid $white-color;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    &-title {
      font-weight: 600;
      font-size: 18px;
    }
  }
}
