@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
} */

.buttonStyle{
  height: 36px;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: #318ec2;
  color: white;
  font-weight: 600;
  border: 2px solid #318ec2;
  border-radius: 10px;
}

.tableStyle{
  width: 100%;
  table-layout: fixed;
  background-color: white;
  border: 2px solid #e2e8f0;
  border-radius: 6px;
}

.subHeaderStyle{
  display: flex;
  background-color: white;
  padding: 8px;
  border: 2px solid #e2e8f0;
}

.searchBarStyle{
  height: 36px;
  padding: 8px 20px;
  background-color: #dee6ec;
  border-radius: 12rem;
}